<div *ngIf="hero" class="panel panel-primary">
  <div class="panel-heading">
    <h2>{{hero.name}}</h2>
  </div>
  <div class="panel-body">
    <label>id: </label>{{hero.id}}
    <form [formGroup]="heroForm" (ngSubmit)="add()">
      <label>이름: </label>
      <input class="form-control" formControlName="heroName" [(ngModel)]="hero.name" name="heroName" [class.invalid]="!heroForm.valid"/>
    </form>


    <div><img src="../assets/{{hero.image}}"></div>
  </div>
</div>

<button class="btn btn-success" (click)="save()" [disabled]="!heroForm.valid">저장</button>
<button class="btn btn-default" (click)="goBack()">뒤로가기</button>
